---

# Deploy containers as quadlet

- name: "Ensure prerequisites"
  ansible.builtin.include_tasks: "prerequisites.yml"

- name: "Fetch latest containers to host"
  ansible.builtin.include_tasks: "pull_container.yml"
  loop: "{{ containers }}"
  loop_control:
    loop_var: container

- name: "Configure container startup"
  ansible.builtin.include_tasks: "configure_container.yml"
  loop: "{{ containers }}"
  loop_control:
    loop_var: container

- name: "Validate container deployment"
  ansible.builtin.include_tasks: "verify_deployment.yml"
